nav{border-radius: 5px!important;margin-top: 20px}
.left,.right{background: none!important}
.slayder,header{background-image: url('../img/sliderBg.png')}
*{list-style-type: none!important}
/*Bootstrap Reset*/
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.active>a{
    background: none!important;
    box-shadow: none!important
}
nav a:hover{
    color: #05fbe6!important
}
/*Bootstrap Reset*/