::-webkit-scrollbar{width: 7px}
body{
    overflow-y: scroll;
}
nav{border-radius: 5px!important;margin-top: 20px}
.left,.right{background: none!important}
.slayder,header{background-image: url('../img/global/sliderBg.png')}
*{list-style-type: none!important}
/*Claslar*/
.pb0{padding-bottom: 0px!important}
/*Claslar*/

/*Bootstrap Reset*/
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.active>a{
    background: none!important;
    box-shadow: none!important
}
nav a:hover{
    color: #f7e50f!important
}
.row{
    margin-left:  -5px;
    margin-right: -5px;
}
[class^="col-"],.navbar, .navbar-default, .navbar-inverse,.container,.container-fluid{
    padding-left:  5px!important;
    padding-right: 5px!important;
}
/*Bootstrap Reset*/

.akordiyon{
    padding: 0!important;
    border: 1px solid #ededed
}
.akordiyon ul{
    display: none
}
.title{

    background: #ededed;
    cursor: pointer
}

@media screen and (min-width:415px) and (max-width:767px) {
    .urunBox .i{
        width: 50%!important;
        float: left!important;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
   /*500b 600k*/
}
